.playScreen {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.heroesList {
  width: 200px;
  height: 480px;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
}

.heroesList li {
  list-style-type: none;
  padding-top: 10px;
}

.player {
  margin-top: 5px;
  margin-left: 5px;
  z-index: 3;
}

.enemy {
  margin-top: 5px;
  margin-left: 5px;
  z-index: 2;
}

.loot {
  margin-top: 5px;
  margin-left: 5px;
  z-index: 1;
}

h1 {
  color: lightgreen;
  font-size: 1.5rem;
  margin: 2rem;
}

.playersId {
  color: lightgreen;
}

.HomeScreen {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 1200px;
  height: 600px;
  color: white;
  margin: 0 auto;
  border: 1 solid white;
  background-clip: green
}

.HomeScreen li {
  list-style-type: none;
  padding-top: 10px;
}

.homeId {
  color: lightgreen;
}

.homeName {
  color: white;
}

.homeStartText {
  height: 300px;
  justify-items: center;
  margin: auto auto;
  text-align: center;
  color: grey;
  font-size: 3rem;
}

.homeList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.homePlayers {
  display: flex;
  flex-direction: row;
}

.gameTitle {
  font-size: 5rem;
  text-align: center;
}

.homeButton {
  width: 200px;
  height: 100px;
  background-color: dimgray;
  color: white;
}

.homeButtonDiv {
  margin: 0 auto;
  padding-top: 50px;
}

.information {
  text-align: center;
}

.information2 {
  text-align: center;
  padding-top: 100px;
  color: rgb(127, 179, 127);
  font-size: 0.8rem;
}

.gameHeader {
  margin: 0 auto;
  width: 90vw;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.loot-message {
  font-size: 3rem;
  font-family: 'Nova Flat', cursive;
  background-color: rgba(0, 80, 255, 0.7);
  top: 0;
  left: 0;
  width: 810px;
  height: 490px;
  z-index: 9;
  position: absolute;
  text-align: center;
}

.loot-message-title {
  color: lightgreen;
  margin-top: 100px;
}

.loot-message-text {
  font-size: 2rem;
  text-decoration: none;
}

.loot-message-text a {
  color: white;
}

a {
  text-decoration: none;
}