.playScreen {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.heroesList {
  width: 200px;
  height: 480px;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
}

.player {
  margin-top: 5px;
}