.tile {
  display: inline-flex;
  background-color: rgb(79, 170, 105);
  background-image: url('/tiles/base.png')

}

.rock {
  background-image: url('/tiles/rock.png')
}

.tree {
  background-image: url('/tiles/tree.png')
}

.chest {
  background-image: url('/tiles/chest.png')
}

.enemy {
  background-image: url('/tiles/enemy.png')
}

.portal {
  background-image: url('/tiles/portal.png')
}