.tile {
  display: inline-flex;
  background-color: rgb(83, 196, 117);
}

.grass {
  /* background-color: lightgreen; */
}

.rock {
  background-image: url('/tiles/rock.png')
}

.tree {
  background-image: url('/tiles/tree.png')
}

.chest {
  background-image: url('/tiles/chest.png')
}

.enemy {
  background-image: url('/tiles/enemy.png')
}